
        body{background:linear-gradient(azure,rgb(132, 55, 232));}
        h1{color:rgba(0, 0, 255, 0.672);
        font-family: "press start 2P";
        }
        a{color: lightseagreen;
        font-family: "comic neue";
    font-size: x-large;}
        h3{color: rgb(42, 123, 96);}
        p{font-family:cursive;}
        h2{font-family: fantasy;}
        
        
        





