
        body{background:linear-gradient(azure,rgb(132, 55, 232));
        background-repeat: no-repeat;
    background-attachment: fixed;}
        h1{color:rgba(0, 0, 255, 0.672);
        font-family: "press start 2P";
        text-shadow: 0px 0px 10px rebeccapurple,0px 0px 10px royalblue;
        text-align: center;
        }
       
        h3{color: rgb(132, 216, 188);}
        p{font-family:cursive;}
        h2{font-family: fantasy;}
        
        a:hover{
            color: aquamarine;
        }
        a{
            color: lightseagreen; 
            font-size: xx-large;
            font-family:"comic neue";
            text-align: center;
        }
        a:active{
            color: teal;
        }
        #p1{
            color: rgb(255, 0, 0);
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            text-align: center;
        }
        .fa-solid{
            color: rgb(119, 0, 255);
            font-size: x-large;

        }
        #Hi{
         display: block;
         margin-right: auto;
         margin-left: auto;
        }
       
            

        
        #oliver{
            ruby-align: cent;
        }
        
        #note{
            text-align: center;
            
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        #ball{
            font-family: "comic neue";
            text-align: center;
        }
        #ts{
            text-align: center;
            font-family: "comic neue";
        }

        #game{
            font-size: x-large;
            font-family: "comic neue";
            color: aqua;
            text-align: center;
        }
        #basketball{
           display: block;
           margin-left: center;
           margin-right: center;
        }
        #math{
            font-family: "comic neue";
            text-align: center;
    
        }





